@font-face {
  font-family: helvetical;
  src: url(./helvetica-neue-5/HelveticaNeueMedium.otf);
}
body {
  font-family: helvetical;
  overflow-x: hidden;
}
.mobile-navbar {
  display: none;
}
.desktop-navbar {
  display: block;
}
.row {
  --bs-gutter-x: 0rem !important;
}
#home {
  background-image: url("./images/background.jpg");
  background-size: cover;
}
/* navbar */
.navbar {
  padding: 0px;
}
.navbar-brand {
  position: relative;
  z-index: 3;
}
.navbar-height {
  padding-top: 45px;
  padding-bottom: 30px;
}
.nav-link {
  font-size: 1.125em;
  color: #dadea3;
  font-weight: 100;
  position: relative;
  z-index: 2;
}
.nav-item {
  margin-right: 28px;
}
.phone-number {
  color: #e5e8aa;
}
/* banner */
.banner {
  /* height: calc(100% - 120px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top-txt {
  margin-top: 5rem;
  /* margin-top: 7%; */
  font-size: 4.9375em;
  color: #3953a3;
  font-weight: 600;
  margin-bottom: 0px;
}
.done-txt {
  font-size: 2.8125em;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.connecting-text {
  line-height: 36px;
  margin-top: 30px;
  font-size: 1.875em;
  color: #3953a3;
  font-weight: 500;
  text-align: center;
}
.btn-post {
  box-shadow: 7px 7px 5px #0000001f;
  height: 65px;
  width: 250px;
  background: #b4c424 0% 0% no-repeat padding-box;
  font-size: 1.6em;
  color: #3953a3;
  border-radius: 65px;
  border: none;
  margin-right: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 14.5px;
}
.btn-work {
  box-shadow: 7px 7px 5px #0000001f;
  height: 65px;
  width: 250px;
  background: #3953a3 0% 0% no-repeat padding-box;
  font-size: 1.6em;
  color: #b4c424;
  border-radius: 65px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.job-done-flex {
  margin-top: auto;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  padding-bottom: 30px;
}
.btn-postjob {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
}
.bottom-banner {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 25px;
  margin-top: 14rem;
}
.bottom-banner-text {
  font-size: 1.875em;
  color: white;
  font-weight: 500;
}
.bottom-banner-text-last {
  font-size: 1.875em;
  font-weight: 500;
  color: #3953a3;
}
/* torch animation */
/* .hero {
  position: relative;
  overflow: hidden;
} */

/* .hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
} */

.xy-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  width: 140px;
  height: 40px;
}

.hero .span-class {
  margin-top: 22rem;
  content: "";
  border: 325px solid rgba(0, 0, 0, 0);
  border-top-color: rgb(157, 174, 89);
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: transparent;
  /* position: absolute; */
  border-radius: 50%;
  z-index: 1;
}
.span_new_class {
  content: "";
  border: 100px solid rgba(0, 0, 0, 0);
  border-top-color: rgb(157, 174, 89);
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: transparent;
  /* position: absolute; */
  border-radius: 50%;
  z-index: 1;
}

.bottom-banner-text,
.hero h1.main-top-txt,
.hero .done-txt,
.hero .connecting-text,
.hero .btn-postjob {
  position: relative;
  z-index: 2;
}

/* about */
#about {
  padding-top: 50px;
  background-color: #3953a3;
  color: white;
  padding-bottom: 50px;
}
.about-img {
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.about-para-section {
  padding: 35px;
}
.about-para {
  margin-top: 25px;
  font-size: 1.1375em;
}
.about-head-text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4.0625em;
  color: #b4c424;
}
.sub-head-text {
  text-align: center;
  margin-bottom: 45px;
  font-size: 2.8125em;
}
.text-about-paragraph {
  font-weight: 500;
  font-size: 1.1375em;
  margin-bottom: 35px;
}

/* services */

#services {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  color: #3953a3;
  background-color: #b4c424;
}
.service-heading {
  font-size: 4.0625em;
  margin-bottom: 36px;
  padding-top: 45px;
  font-weight: 600;
}
.service-para {
  font-size: 1.2375em;
  font-weight: 600;
}

/* news */
#news {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}
.get-startedbtn-news {
  background-color: #b4c424;
  color: #3953a3;
  font-size: 1.875em;
  padding: 8px;
  width: 250px;
  border: none;
  border-radius: 60px;
  margin-top: 25px;
  box-shadow: 7px 7px 5px #0000001f;
}
.ready-work-news-text {
  font-size: 4.0625em;
  font-weight: 600;
}
.ready-work-news-para {
  font-size: 1.1375em;
  font-weight: 500;
  margin-top: 20px;
}

/* works */
#works {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3953a3;
  color: white;
}
.how-it-works-text {
  font-size: 4.0625em;
  color: #b4c424;
}
.how-it-works-subhead {
  font-size: 1.875em;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 35px;
}
.image-left {
  margin-left: 30px;
}
.image-right {
  margin-right: 30px;
}
.text-right,
.text-left {
  font-size: 1.1375em;
  font-weight: 500;
  padding: 10px;
}
.text-right {
  text-align: right;
}
.right-work-text {
  font-size: 2.4375em;
  margin-left: 20px;
  margin-right: 20px;
}

/* for workers */
#for_workers {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3953a3;
}
.workers-heading {
  font-size: 4.0625em;
  font-weight: 600;
}
.sub-work-heading {
  font-weight: 500;
  margin-bottom: 45px;
  font-size: 1.875em;
}
.align-worktxt-right {
  text-align: right;
  padding-right: 35px;
}
.workers-sub-main-text {
  font-size: 2.8125em;
  margin-bottom: 20px;
  font-weight: 600;
}
.workers-para,
.last-workers-para {
  font-size: 1.1375em;
  font-weight: 600;
  line-height: 30px;
}
/* future project */
#future-project {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #3953a3;
}
.image-holder-box {
  margin-right: 60px;
  margin-bottom: 40px;
  /* height: 400px; */
}
.image-holder-box img {
  margin-right: 60px;
  margin-bottom: 40px;
  height: 400px;
}
#future-project h3 {
  font-weight: 600;
  color: #3953a3;
  font-size: 4.0625em;
  margin-bottom: 25px;
}
.future-sub-content {
  font-size: 1.1375em;
  font-weight: 600;
}

.content-top-text {
  font-size: 2.8125em;
  font-weight: 600;
}
.future-prosubhead {
  font-weight: 600;
  font-size: 1.275em;
  color: #3953a3;
  margin-bottom: 25px;
}
.future-pro-text-right {
  text-align: right;
  padding-right: 60px;
}
/* solution */
#testimonial {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("./images/background.jpg");
  background-size: cover;
  color: white;
}
.testimonial-img {
  height: 350px;
  width: 350px !important;
  margin-left: auto;
  margin-right: auto;
}
.testimoinal-heading-top {
  font-size: 4.0625em;
  margin-bottom: 4rem;
}
.google-play-btn {
  background: #231f20 0% 0% no-repeat padding-box;
  border-radius: 13px;
  width: 312px;
  height: 96px;
  color: #ffffff;
  display: flex;
  padding-top: 16px;
  justify-content: center;
  font-size: 2.5625em;
  margin-right: 20px;
  margin-bottom: 50px;
}
.textmonial-left {
  text-align: right;
  font-size: 1.2375em;
  padding-right: 15px;
}
.author-name {
  color: #afbf36;
  font-size: 2.8125em;
}
/* solution */
#solution {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #3953a3;
}
/* partners */
#partners {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #3953a3;
  text-align: center;
}
#partners h3 {
  font-size: 4.0625em;
  color: #b4c424;
}

#partners p {
  font-size: 1.275em;
  color: white;
}

/* location */
#location {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3953a3;
}
.location-what-we-do-text {
  font-size: 4.0625em;
  color: #b4c424;
}
#location p,
.location-country {
  line-height: 35px;
  font-size: 1.275em;
  margin-top: 25px;
  color: white;
}
.location-percentage {
  margin-top: 142px;
  color: #b4c424;
  font-size: 4.9375em;
  margin-right: 6%;
}
.first-location-num {
  color: #e3e9ab;
}
.small_plus {
  font-size: 55px;
  color: #e3e9ab;
}
.location-btn {
  display: flex;
  font-size: 1.5625em;
  color: #3953a3;
  width: 249px;
  height: 65px;
  margin-right: 6%;
  background: #b4c424 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 5px #0000001f;
  border-radius: 33px;
  align-items: center;
  justify-content: center;
}
.location-map {
  width: 100%;
  margin-left: auto;
  display: block;
  margin-top: 148px;
  margin-right: 30px;
}
/* sales rep */
.sales-rep-txt {
  padding: 26px;
  font-size: 2.1em;
  background-image: url("./images/background.jpg");
  color: white;
  background-size: cover;
}
/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3953a3;
}
footer a {
  color: #3953a3;
  font-size: 1.2375em;
  font-weight: 600;
}
footer h5 {
  font-size: 2.8125em;
  margin-bottom: 35px;
  font-weight: 600;
}
a {
  text-decoration: none;
}
.footer-btn-email {
  padding: 8px;
  background-color: #afbf36;
  border-radius: 20px;
  width: 220px;
  text-align: center;
  margin-top: 32px;
  border: none;
}
.footer-btn-email::placeholder {
  font-weight: 600;
  color: #3953a3;
}
.email-btn {
  cursor: pointer;
  margin-top: 32px;
  margin-left: 10px;
}
/* owl */
.owl-theme .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.owl-theme .owl-dot.active {
  background: #3953a3 !important;
}
.owl-theme .owl-dot {
  background: #b4c424 !important;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  width: 12px;
}
/* image rotate */
.rotate-image {
  width: 92px;
  height: 186px;
  object-fit: contain;
}

/*  */

.center {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 6rem;
  /* width: 100px;
  height: 100px; */
}

.triangle-wrapper,
.triangle-wrapper-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(0deg) translateX(90px);
  /* Move triangle to orbit along the circle */
}

.triangle {
  /* display: none; */
  border-radius: 50%;
  width: 130px;
  height: 200px;
  background-color: rgb(180, 196, 36);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  /* Inverted isosceles triangle */
  position: absolute;
  transform: translateX(-120%) translateY(15%) rotateX(120deg);
  /* transform-origin: 50% 100%; */
  /* Pivot around the tip of the triangle */
}

.triangle-top {
  border-radius: 50%;
  width: 300px;
  height: 450px;
  background-color: rgba(180, 196, 36, 0.4);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  /* Inverted isosceles triangle */
  /* position: absolute; */
  transform: translateX(-30%) translateY(-60%) rotateX(0deg);
}
@media only screen and (max-width: 1300px) {
  .image-holder-box img {
    margin-bottom: 20px;
    height: auto;
  }
  .image-holder-box {
    margin-bottom: 20px;
    height: auto;
  }
}
@media only screen and (max-width: 990px) {
  .image-holder-box {
    margin-right: 0px;
  }
  .owl-carousel {
    text-align: center;
  }
  .location-btn {
    font-size: 1.25em;
  }
  .mobile-align-job_complete {
    align-items: baseline;
  }
  .location-percentage {
    margin-top: 10px;
    font-size: 2.5em;
    text-align: center;
  }
  .mobile-navbar {
    display: block;
  }
  .desktop-navbar {
    display: none;
  }
}
@media only screen and (max-width: 890px) {
  .hero .span-class {
    display: none;
  }
}
@media (max-width: 768px) {
  .text-right,
  .text-left,
  .textmonial-left {
    text-align: center;
  }
  .align-worktxt-right {
    padding-right: 0px;
  }
  .workers-para,
  .last-workers-para {
    text-align: center;
  }
  .workers-sub-main-text {
    text-align: center;
  }
  .location-btn {
    font-size: 1em;
  }
  .google-play-btn {
    border: none;
    width: auto;
    font-size: 1.5em;
    height: auto;
    padding: 20px;
  }
  .mobile-align-job_complete {
    align-items: baseline;
  }
  .location-percentage {
    margin-top: 10px;
  }
  .right-work-text {
    font-size: 1.5em;
  }
  .about-head-text,
  .service-heading,
  .ready-work-news-text,
  .how-it-works-text,
  .workers-heading,
  #future-project h3,
  .testimoinal-heading-top,
  #partners h3,
  .location-what-we-do-text {
    font-size: 2.5em;
  }
  .bottom-banner {
    margin-top: 3rem;
  }
  .btn-postjob {
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;
  }
  .btn-post,
  .btn-work {
    font-size: 1.2em;
    height: 54px;
    width: 178px;
  }
  .main-top-txt {
    margin-top: 3rem;
  }
  .main-top-txt,
  .location-percentage {
    font-size: 2.5em;
    text-align: center;
  }
  .done-txt,
  .sub-head-text,
  .workers-sub-main-text,
  .content-top-text,
  .author-name,
  footer h5 {
    font-size: 1.5em;
  }
  .connecting-text,
  .bottom-banner-text,
  .bottom-banner-text-last,
  .get-startedbtn-news,
  .how-it-works-subhead,
  .sub-work-heading {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 650px) {
  #partners img {
    margin-top: 10px;
  }
  .hero .span-class {
    display: none;
  }
  .nav-item {
    margin-right: 0px;
  }
  .hero .span-class {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    text-align: center;
  }
  .bottom-banner-text-last {
    text-align: center;
  }

  .bottom-banner-text {
    text-align: center;
  }
  .br-mobile {
    display: none;
  }
  .connecting-text {
    padding: 0.5rem;
    margin-top: 0px;
  }
  /* 
  .btn-postjob {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  /* .btn-work {
    margin-top: 20px;
  } */
  .location-map {
    margin-right: 0px;
  }
  .location-percentage {
    margin-right: 20px;
  }
}
li.nav-item.mb-2 {
  height: 52px;
}
@media (max-width: 379px) {
  .btn-postjob {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-work {
    margin-top: 10px;
  }
}

/* Styles for the sliding side drawer */
#sideNav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: url("./images/background.jpg");
  padding-top: 60px;
  transition: 0.5s;
  z-index: 999;
}

#sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

#sideNav a:hover {
  color: #f1f1f1;
}

#sideNav .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000;
}

.navbar-brand svg {
  height: 50px;
}

/* Overlay style to darken the page when drawer is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s;
}

#overlay.active {
  display: block;
}
